.backdrop {
  height: 101vh;
  width: 101vw;
  background-color: #5233D2;
  text-align: center;
  /* display: flex; */
}

.image {
  height: auto;
  width: auto;
  display: inline-block;
  margin-top: 50vh
}

.row {
  display: grid;
  grid-template-rows: repeat(16,[col], 40px)  
}